@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;700&display=swap');
:root{
    --first-color:#990d0d;
    --second-color:#161515;
    /* --bg-btn-color:#990d; */
    --bg-btn-color:#dada2c73;
    --bg-section-color:#e9e6e6;
    --grad-color-1:vx#3d3838;
    --grad-color-2:#990d0d;
    --aimation-color:#caca15f6;
    --header-bg-color:linear-gradient(to left,#3d3838, #990d0d,#990d);
}