$primaryColor:#990d0d;
$secondaryColor:#161515;
$tertiaryColor:#990d;
$headerBgColor:linear-gradient(to left,#3d3838, #990d0d,#990d);
$btnBgColor:lighten($tertiaryColor, 30);
$primary:$primaryColor;
$animationColor:#caca15f6;
// :root{
//     --first-color:#990d0d;
//     --second-color:;
//     /* --bg-btn-color:#990d; */
//     --bg-btn-color:#dada2c73;
//     --bg-section-color:#e9e6e6;
//     --grad-color-1:vx#3d3838;
//     --grad-color-2:#990d0d;
//     --aimation-color:#caca15f6;
//     --header-bg-color:
// }